<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumServlet</servlet-name>
        <servlet-class>servlets.ForumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookForumServlet</servlet-name>
        <servlet-class>servlets.LookForumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForumServlet</servlet-name>
        <servlet-class>servlets.DeleteForumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyForumServlet</servlet-name>
        <servlet-class>servlets.ModifyForumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToModifyForumServlet</servlet-name>
        <servlet-class>servlets.ToModifyForumServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumServlet</servlet-name>
        <url-pattern>/ForumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookForumServlet</servlet-name>
        <url-pattern>/LookForumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForumServlet</servlet-name>
        <url-pattern>/DeleteForumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyForumServlet</servlet-name>
        <url-pattern>/ModifyForumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToModifyForumServlet</servlet-name>
        <url-pattern>/ToModifyForumServlet</url-pattern>
    </servlet-mapping>
</web-app>